#!/bin/bash

export XDG_CONFIG_HOME="$HOME/.config"
export EDITOR=/usr/bin/vim
export GOPATH="$HOME/go"
export GPGKEY="$(gpg -K | awk 'NR==3 {print $2}' | sed 's/2048R\///g')"
export GPG_TTY=$(tty)
export PASSWORD_STORE_X_SELECTION=clipboard
