#!/bin/bash

# Create a new directory and enter it
mkd() {
	mkdir -p "$@" && cd "$@"
}

rest() {
	source ~/resty
	case $1 in
		github) resty https://api.github.com -H "Authorization: token $(pass github/api-tokens/gists)" ;;
	esac
}

ptpb() {
	curl -F "c=@${1:--}" https://ptpb.pw/
}

ppid() { ps -p ${1:-$$} -o ppid=; }

cperr() { "$@" 2>&1 | >/dev/null pbcopy; }

al() { ag "$@" --pager='less -R'; }

jql() { jq . -C | less -R; }

pawk() { awk -vy="$1" -vx="$2" 'NR==y{print $x}'; }

delete_all_gists() { rest github && GET /gists | jq .[].id -r | while IFS=; read -r line; do DELETE /gists/$line & done; }
